<configuration>
  <configSections>
    <section name="connection" type="System.Configuration.NameValueSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.nlog-project.org/schemas/NLog.xsd">
    <targets async="true">
      <target name="file" xsi:type="file" fileName="${environment:ELEEDAPPDATADIR}\eLeed\Logs\Gaavt_Portal.log" layout="${longdate} ${processid} ${threadid} ${level} ${message}" />
    </targets>
    <rules>
      <logger writeTo="file" name="*" minlevel="Debug" />
    </rules>
  </nlog>
  <connection>
    <add key="server" value="localhost" />
    <add key="serverPort" value="7081" />
    <add key="dataPort" value="6081" />
    <add key="bindTo" value="" />
    <add key="isChannelCompressed" value="False" />
  </connection>
  <add key="XmlPath" value="D://Umbraco//GaavtPublish//gaaft.kg//Static//" />
  <appSettings>
    <add key="PasswordHash" value="1B2M2Y8AsgTpgAmY7PhCfg==" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <pages>
      <namespaces>
        <add namespace="ClientDependency.Core" />
        <add namespace="ClientDependency.Core.Mvc" />
      </namespaces>
    </pages>
    <httpModules>
      <add name="ClientDependencyModule" type="ClientDependency.Core.Module.ClientDependencyModule, ClientDependency.Core" />
      <add name="ImageProcessorModule" type="ImageProcessor.Web.HttpModules.ImageProcessingModule, ImageProcessor.Web" />
    </httpModules>
    <httpHandlers>
      <add verb="GET" path="DependencyHandler.axd" type="ClientDependency.Core.CompositeFiles.CompositeDependencyHandler, ClientDependency.Core " />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ClientDependencyModule" />
      <add name="ClientDependencyModule" type="ClientDependency.Core.Module.ClientDependencyModule, ClientDependency.Core" />
      <add name="ImageProcessorModule" type="ImageProcessor.Web.HttpModules.ImageProcessingModule, ImageProcessor.Web" />
    </modules>
    <handlers>
      <remove name="DependencyHandler" />
      <add name="DependencyHandler" preCondition="integratedMode" verb="GET" path="DependencyHandler.axd" type="ClientDependency.Core.CompositeFiles.CompositeDependencyHandler, ClientDependency.Core " />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Akforta.eLeed.Common" publicKeyToken="692cb4d6cc210515" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="3.17.314.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Akforta.eLeed.Common.USL" publicKeyToken="692cb4d6cc210515" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="3.17.314.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Akforta.eLeed.Expressions" publicKeyToken="692cb4d6cc210515" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="3.17.314.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Akforta.eLeed.FilterGramma" publicKeyToken="692cb4d6cc210515" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="3.17.314.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Akforta.eLeed.Locking.Client" publicKeyToken="692cb4d6cc210515" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="3.17.314.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Akforta.eLeed.Locking.Implementation" publicKeyToken="692cb4d6cc210515" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="3.17.314.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Akforta.eLeed.Locking.Interfaces" publicKeyToken="692cb4d6cc210515" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="3.17.314.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Akforta.Eleed.OrgPatterns" publicKeyToken="692cb4d6cc210515" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="3.17.314.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Akforta.eLeed.PackUtilities" publicKeyToken="692cb4d6cc210515" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="3.17.314.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Akforta.eLeed.Script.Common" publicKeyToken="692cb4d6cc210515" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="3.17.314.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Akforta.eLeed.Servers.Common" publicKeyToken="692cb4d6cc210515" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="3.17.314.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Akforta.eLeed.Servers.Common.BLL" publicKeyToken="692cb4d6cc210515" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="3.17.314.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Akforta.eLeed.Servers.Common.LD" publicKeyToken="692cb4d6cc210515" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="3.17.314.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Akforta.eLeed.Servers.Common.DAL" publicKeyToken="692cb4d6cc210515" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="3.17.314.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Akforta.eLeed.Threading" publicKeyToken="692cb4d6cc210515" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="3.17.314.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Audit.Common" publicKeyToken="692cb4d6cc210515" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="3.17.314.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BIZCommon" publicKeyToken="692cb4d6cc210515" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="3.17.314.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BIZProvider" publicKeyToken="692cb4d6cc210515" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="3.17.314.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BIZ.Reports" publicKeyToken="692cb4d6cc210515" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="3.17.314.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HelpProvider" publicKeyToken="692cb4d6cc210515" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="3.17.314.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HelpVisibility" publicKeyToken="692cb4d6cc210515" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="3.17.314.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Logging" publicKeyToken="692cb4d6cc210515" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="3.17.314.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DxReportControl" publicKeyToken="692cb4d6cc210515" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="3.17.314.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WinUslHelper" publicKeyToken="692cb4d6cc210515" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="3.17.314.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BIZCoreUSLWin" publicKeyToken="692cb4d6cc210515" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="3.17.314.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BIZHelp" publicKeyToken="692cb4d6cc210515" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="3.17.314.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Akforta.eLeed.USL.Forms" publicKeyToken="692cb4d6cc210515" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="3.17.314.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tools.SpellNumber.Common" publicKeyToken="692cb4d6cc210515" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="3.17.314.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tools.SpellNumber.English" publicKeyToken="692cb4d6cc210515" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="3.17.314.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tools.SpellNumber.Russian" publicKeyToken="692cb4d6cc210515" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="3.17.314.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="C5" publicKeyToken="06a1b38866503b69" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="1.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Funq" publicKeyToken="e035bc90764f5360" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="0.1.226.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nunit.core" publicKeyToken="96d09a1eb7f44a77" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="2.2.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="96d09a1eb7f44a77" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="2.2.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nunit.uikit" publicKeyToken="96d09a1eb7f44a77" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="2.2.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nunit.util" publicKeyToken="96d09a1eb7f44a77" />
        <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="2.2.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>